; This configuration file follows the INI file format (https://en.wikipedia.org/wiki/INI_file)

[data_type]
data_type			= chipseq

[samples]
samples				= THE_SAMPLES     ; e.g.: `samples=s1 s2 s3`, use 'test' for testing purposes

[pipeline]
pipeline_name		= chipseq
pipeline_version	= 16.04
pipeline_run_mode	= THE_RUN_MODE

[IO mode]
io_mode				= standard									; standard = /users/mbeato/projects, custom = in and out dir specified
CUSTOM_IN			= /users/mbeato/projects/data/chipseq/raw/2016-03-11 		; only used if pipeline_io_mode=custom
CUSTOM_OUT			= /users/mbeato/projects/data/chipseq/samples 		; only used if pipeline_io_mode=custom
sample_to_fastqs	= sample_to_fastqs.txt				; file with paths, relative to CUSTOM_IN, to read1 (and read2) FASTS, only used if pipeline_io_mode=custom

[cluster options]
submit_to_cluster	= yes					; the following are only applied if submit_to_cluster=yes
queue				= long-sl7				; for real data = long-sl7, for test = short-s7
memory				= 60G					; for real data = 60G, for test = 40G
max_time			= 24:00:00 				; for real data = 48:00:00, for test = 1:00:00
slots				= 10 					; for real data = 10, for test = 1
email				= THE_EMAIL	; email to which start/end/error emails are sent

[metadata]
integrate_metadata	= yes					; yes: metadata is stored into database

[trimmomatic]
; for recommended values see http://www.broadinstitute.org/cancer/software/genepattern/modules/docs/Trimmomatic/
; and those used in the supplementary data of the Trimmomatic paper (Bolger et al. 2014)
sequencing_type		= SEQ_TYPE					; PE=paired-end, SE=single-end
seedMismatches			= 2
palindromeClipThreshold	= 30
simpleClipThreshold		= 12
leading					= 3
trailing				= 3
minAdapterLength		= 1
keepBothReads			= true
minQual					= 3
strictness				= 0.999
minLength				= 36
read_length				= 				; required if integrate_metadata=no, otherwise, ignored and retrieved from the metadata

[bwa]
species				= 			; required if integrate_metadata=no, otherwise, ignored and retrieved from the metadata
version				= 				; required if integrate_metadata=no, otherwise, ignored: hg38_mmtv (homo_sapiens) and mm10 (mus_musculus)

[qualimap]
strand_specific			= THE_STRAND				; 0=unstranded, 1=stranded, 2=reversely stranded

[peak calling]
peak_caller			= macs2
use_control			= yes
control_bam			= /users/mbeato/projects/data/chipseq/samples/T0_roberto_input/alignments/bwa/hg38_mmtv/single_end/T0_roberto_input_sorted_filtered.bam		; Input DNA to be used as control in the peak calling (e.g. $HOME/projects/er_pr/data/alignments/input_mcf7_merged_sorted_dups_removed.bam)

[macs2]
macs2_qvalue		= THE_QVALUE					; MACS2 defaults is 0.01 and 0.05 for broad marks
broad_peaks = THE_BROAD					; default is no
