; This configuration file follows the INI file format (https://en.wikipedia.org/wiki/INI_file)

[data_type]
data_type			= rnaseq

[samples]
samples				=fd_001_01_01_rnaseq fd_002_01_01_rnaseq fd_003_01_01_rnaseq fd_004_01_01_rnaseq fd_005_01_01_rnaseq fd_006_01_01_rnaseq fd_007_01_01_rnaseq fd_008_01_01_rnaseq fd_009_01_01_rnaseq 				; e.g.: `samples=s1 s2 s3`, use 'test' for testing purposes

[run mode]
pipeline_run_mode	= full

[IO mode]
io_mode				= standard									; standard = /users/GR/mb/jquilez, custom = in and out dir specified
CUSTOM_IN			= /users/GR/mb/jquilez/pipelines/rnaseq-20160119/test 		; only used if pipeline_io_mode=custom
read1_fname			= test_read1.fastq.gz
read2_fname			= test_read2.fastq.gz
CUSTOM_OUT			= /users/GR/mb/jquilez/misc 		; only used if pipeline_io_mode=custom

[cluster options]
submit_to_cluster	= yes					; the following are only applied if submit_to_cluster=yes
queue				= long-sl65			; for real data = short-sl65, for test = short-sl65
memory				= 40G					; for real data = 40G, for test = 40G
max_time			= 10:00:00 				; for real data = 6:00:00, for test = 1:00:00
slots				= 8 					; for real data = 8, for test = 1
email				= javier.quilez@crg.eu	; email to which start/end/error emails are sent

[trimmomatic]
sequencing_type		= PE					; PE=paired-end, SE=single-end
trimmomatic_seedMismatches			= 2
trimmomatic_palindromeClipThreshold	= 30
trimmomatic_simpleClipThreshold		= 12
trimmomatic_minAdapterLength		= 1
trimmomatic_keepBothReads			= true
trimmomatic_minQual					= 3
trimmomatic_targetLength			= 40
trimmomatic_strictness				= 0.5
trimmomatic_minLength				= 36

[star]
species				= homo_sapiens
version				= hg38
read_length			= 50

[kallisto]
n_bootstraps			= 100

[featureCounts]
strand_specific			= 1 				; 0=unstranded, 1=stranded, 2=reversely stranded

