; This configuration file follows the INI file format (https://en.wikipedia.org/wiki/INI_file)


[samples]
samples				=test				; use 'test' for testing purposes, NETseq.T0 NETseq.T0-2 NETseq.T30 NETseq.T30-2

[run mode]
pipeline_run_mode	= make_profiles

[cluster options]
submit_to_cluster	= no					; the following are only applied if submit_to_cluster=yes
queue				= short-sl65			; for real data = short-sl65, for test = short-sl65
memory				= 10G					; for real data = 40G, for test = 10G
max_time			= 06:00:00 				; for real data = 6:00:00, for test = 1:00:00
slots				= 1 					; for real data = 8, for test = 1

[tophat]
library_type		= fr-firststrand

[star]
species				= homo_sapiens
version				= hg19
read_length			= 50