; This configuration file follows the INI file format (https://en.wikipedia.org/wiki/INI_file)

[data_type]
data_type			= chipseq

[samples]
samples				=test 				; e.g.: `samples=s1 s2 s3`, use 'test' for testing purposes

[run mode]
pipeline_run_mode	= align_single_end

[IO mode]
io_mode				= custom									; standard = /users/GR/mb/jquilez, custom = in and out dir specified
CUSTOM_IN			= /users/GR/mb/jquilez/pipelines/chipseq-16.02/test 		; only used if pipeline_io_mode=custom
read1_fname			= test_read1.fastq.gz
read2_fname			= test_read2.fastq.gz
CUSTOM_OUT			= /users/GR/mb/jquilez/misc 		; only used if pipeline_io_mode=custom

[cluster options]
submit_to_cluster	= no					; the following are only applied if submit_to_cluster=yes
queue				= long-sl65			; for real data = short-sl65, for test = short-sl65
memory				= 40G					; for real data = 40G, for test = 40G
max_time			= 20:00:00 				; for real data = 6:00:00, for test = 1:00:00
slots				= 8 					; for real data = 8, for test = 1
email				= javier.quilez@crg.eu	; email to which start/end/error emails are sent

[trimmomatic]
; for recommended values see http://www.broadinstitute.org/cancer/software/genepattern/modules/docs/Trimmomatic/
; and those used in the supplementary data of the Trimmomatic paper (Bolger et al. 2014)
sequencing_type		= SE					; PE=paired-end, SE=single-end
seedMismatches			= 2
palindromeClipThreshold	= 30
simpleClipThreshold		= 12
leading					= 3
trailing				= 3
minAdapterLength		= 1
keepBothReads			= true
minQual					= 3
targetLength			= 40
strictness				= 0.999
minLength				= 36

[bwa]
species				= homo_sapiens
version				= hg19

[peak calling]
peak_caller			= zerone
use_control			= yes
control_bam			= /users/GR/mb/jquilez/data/chipseq/samples/T0_INPUT_F/alignments/bwa/hg19/T0_INPUT_F_sorted_unique.bam				; Input DNA to be used as control in the peak calling (e.g. $HOME/projects/er_pr/data/alignments/input_mcf7_merged_sorted_dups_removed.bam)

[macs2]
macs2_qvalue		= 0.05					; MACS2 defaults is 0.01 and 0.05 for broad marks
