; This configuration file follows the INI file format (https://en.wikipedia.org/wiki/INI_file)

[data_type]
data_type			= chrrnaseq

[samples]
samples				=ps_001_01_01_chrrnaseq ps_002_01_01_chrrnaseq ps_003_01_01_chrrnaseq ps_004_01_01_chrrnaseq 				; e.g.: `samples=s1 s2 s3`, use 'test' for testing purposes

[run mode]
pipeline_run_mode	= full

[IO mode]
io_mode				= standard									; standard = /users/GR/mb/jquilez, custom = in and out dir specified
CUSTOM_IN			= /users/GR/mb/jquilez/pipelines/rnaseq-16.02/test 		; only used if pipeline_io_mode=custom
read1_fname			= test_read1.fastq.gz
read2_fname			= test_read2.fastq.gz
CUSTOM_OUT			= /users/GR/mb/jquilez/misc/rnaseq 		; only used if pipeline_io_mode=custom

[cluster options]
submit_to_cluster	= yes					; the following are only applied if submit_to_cluster=yes
queue				= long-sl65			; for real data = short-sl65, for test = short-sl65
memory				= 60G					; for real data = 40G, for test = 40G
max_time			= 24:00:00 				; for real data = 6:00:00, for test = 1:00:00
slots				= 8 					; for real data = 8, for test = 1
email				= javier.quilez@crg.eu	; email to which start/end/error emails are sent

[trimmomatic]
; for recommended values see http://www.broadinstitute.org/cancer/software/genepattern/modules/docs/Trimmomatic/
; and those used in the supplementary data of the Trimmomatic paper (Bolger et al. 2014)
sequencing_type		= PE					; PE=paired-end, SE=single-end
seedMismatches			= 2
palindromeClipThreshold	= 30
simpleClipThreshold		= 12
leading					= 3
trailing				= 3
minAdapterLength		= 1
keepBothReads			= true
minQual					= 3
targetLength			= 40
strictness				= 0.999
minLength				= 36

[star]
species				= homo_sapiens
version				= hg19
read_length			= 50

[kallisto]
n_bootstraps			= 100
fragment_length_avg		= 150				; for single-end data this is required; for paired-end data it is inferred from the data
fragment_length_sd		= 30				; for single-end data this is required; for paired-end data it is inferred from the data

[featureCounts]
strand_specific			= 1 				; 0=unstranded, 1=stranded, 2=reversely stranded

